/* Write your styles */
.am-offcanvas-bar{
    background: #aaa193;
}
.am-offcanvas-bar:after{
    background: none;
}
.am-header-default,.am-header-nav{
    color: #00b3ee !important;
}
.am-offcanvas-content a{
    color: whitesmoke;
}
.am-header-default{
    background-color: #aaa193;
}
.am-nav>li>a:focus, .am-nav>li>a:hover{
    background-color: #E5E5E5;
    color: #333;
}
.btn-down{
    color: #eee;
}
.am-dropdown-content{
    padding: 0px !important;
}
/*侧边栏宽度*/
.am-offcanvas-bar{
    width: 200px;
}
.am-nav>li>a{
    padding: 0em 0em 0em 1em;
}
label{
    font-size: 0.85em;
}
.am-form-group{
    margin-top: 30px;
}
.pass-ma{
    margin-top: 50px;
}
.login-btn{
    width: 100%;
}
/*画册*/
.am-slider-default .am-direction-nav a:before{
    font-size: 2em !important;
    color: white!important;
}
.am-panel{
    border: none;
}
.maTp-30{
    margin-top: 15em !important;
}
.maTp-30>img{
    width: 100%;
    height: auto;
}
.am-header-title>a{
    font-size: 0.85em;
}
.mack{
    width: 90% !important;
    height: auto !important;
    display: block;
    padding: 0.4em 0em  0.4em 0em;
    margin: auto;
}
.top-border{
    border-top: none !important;
}
.back>img{
    width: 100%;
    height: auto;
}
